@font-face {
  font-family: "Island Moments";
  src: url(./IslandMoments-Regular.ttf);
}

body{
  margin: 0;
}

#content{
  height: 100vh;
}

.header-container{
  font-family: "Island Moments";
  font-size: 44px;
  height: 181px;
  background-color: rgba(189, 189, 189, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.header-text{
  margin: 40px 0;
}

.headline, .review, .hours{
  width: 600px;
  margin: 0 auto;
  background-color: rgb(189, 189, 189);
  padding: 30px;
  border-radius: 10px;
}

.text{
  margin: 0;
}

.hours-content{
  text-align: center;
}

.body-content{
  height: calc(100vh - 181px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(82, 82, 82);
}

.margin-bottom{
  margin-bottom: 10px;
}

.heading{
  margin: 0 0 10px 0;
}

.customer-name{
  text-align: end;
  margin-top: 10px;
}